.products__container {
  display: flex;
  flex-direction: column;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 1080px;
  width: 100%;
}

.products__2columns {
  max-width: 1060px;

  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1200px) {
  .products__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .products__list,
  .products__2columns {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
